@model iStay.Models.Users
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!--/Style-CSS -->
<link rel="stylesheet" href="~/Content/css/LoginStyle.css" type="text/css" media="all" />
<!--//Style-CSS -->
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
@*<style>
    .red {
        color: red;
    }

    .text-area {
        padding: 8px 15px 8px 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 5px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        background-color: #ECEFF1;
        font-size: 16px;
        letter-spacing: 1px;
    }
</style>*@

@if (TempData["registered"] != null)
{
    <script type="text/javascript">
                window.onload = function () {
                    var message = '@TempData["registered"]';
                    swal({ title: "Registered", text: message, icon: "success" });
                }
    </script>
}
            @*<p>Fill all menatory fields<span> *</span> </p>*@

            

                <!-- fieldsets Start-->
                @*<fieldset>
                    <div class="form-card">
                        <label class="fieldlabels">Name: <span class="text-danger"> *</span></label>
                        @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "input", placeholder = "Jhon Smith" } })
                        @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })

                        <label class="fieldlabels">Password: <span> *</span></label>
                        @Html.EditorFor(model => model.User_Pass, new { htmlAttributes = new { @class = "input", placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.User_Pass, "", new { @class = "text-danger" })

                        <input type="submit" class=" action-button" value="Login" />

                    </div>
                </fieldset>
                <span>Don't have account ?  @Html.ActionLink("Signup Here", "Create", "Auth", null, new { @class = "orange_color" })</span>*@

                <!-- fieldsets END-->
                <section class="w3l-forms-23">
                    <div class="forms23-block-hny">
                        <div class="wrapper">
                            <h1>Trendz Login Form</h1>
                            <div class="d-grid forms23-grids">
                                <div class="form23">
                                    <div class="main-bg">
                                        <h6 class="sec-one">John Doe</h6>
                                        <div class="speci-login first-look">
                                            <img src="~/Content/images/users/user.png" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="bottom-content form-control">
                                        @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                             @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "input-form", placeholder = "Jhon Smith" } })
                                            @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
                                              @Html.EditorFor(model => model.User_Pass, new { htmlAttributes = new { @class = "input-form", placeholder = "Password" } })
                                            @Html.ValidationMessageFor(model => model.User_Pass, "", new { @class = "text-danger" })
                                            <input type="submit" class=" action-button" value="Login" />
                                        }
                                            <p>Not a member yet? <a href="#">Join Now!</a></p>
                                        </div>
                                </div>
                            </div>
                            <div class="w3l-copy-right text-center">
                                <p>
                                    © 2020 Trendz Login Form. All rights reserved | Design by
                                    <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            
       


